<div class="rs-panel__item">
  <div class="rs-panel__item__title">
    <h1><%= evaluation.title %></h1>
    <% if evaluation.organization %>
      <h2><%= evaluation.organization.name %></h2>
    <% end %>
    <div>
      Subscribers : <%= evaluation.subscriptions.size %> <i class="fa fa-user" aria-hidden="true"></i>
    </div>
  </div>
  <div class="rs-panel__item__description">
    <p class="light-text">
      Due date : <%= l evaluation.due_date %>
    </p>
    <p>
      <%= evaluation.description %>
    </p>
  </div>
  <div class="rs-panel__item__actions">
    <%= link_to evaluation_path(uuid: evaluation.uuid), class: "btn btn-default btn-sm" do %>
      <i class="fa fa-eye"></i> View
    <% end %>
    <%= link_to edit_evaluation_path(uuid: evaluation.uuid), class: "btn btn-primary btn-sm" do %>
      <i class="fa fa-pencil"></i> Edit
    <% end %>
  </div>
</div>
