<tr>
  <td>
    <%= student.name %>
  </td>
  <td>
    <a href="mailto:<%= student.email %>"><%= student.email %></a>
  </td>
  <% if student.submission_for_evaluation(evaluation_id) %>
  <td><%= l student.submission_for_evaluation(evaluation_id).created_at %></td>
  <td>
    <%= link_to submission_path(id: student.submission_for_evaluation(evaluation_id).id),
      class: "btn btn-default btn-sm" do %>
      <i class="fa fa-eye"></i> View
    <% end %>
  </td>
  <% else %>
  <td>N/A</td>
  <td>&nbsp;</td>
  <% end %>
</tr>


