<%= form_for @handover, html: { multipart: true, class: "full-width" } do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", html: { rows: 5 } %>
  </div>

  <div class="form-group">
    <%= f.label :due_date %>
    <%= f.datetime_local_field :due_date, class: "form-control", placeholder: "Due date" %>
  </div>

  <div class="form-group">
    <%= f.label :subscriptions %>
    <%= user_picker_field "handover[subscriptions][]" %>
  </div>

  <div class="form-group">
    <%= f.label :reference_documents do %>
      Reference documents for the handover
      <a href="#" data-toggle="modal" data-target="#info-reference-documents">
        <i class="fa fa-info-circle"></i>
      </a>
    <% end %>
    <%= f.file_field :reference_documents,
      multiple: true,
      name: "handover[reference_documents_attributes][][file_ptr]" %>
  </div>

  <div class="form-group">
    <%= f.label :boilerplate_documents do %>
      Boilerplate documents for the handover
      <a href="#" data-toggle="modal" data-target="#info-boilerplate-documents">
        <i class="fa fa-info-circle"></i>
      </a>
    <% end %>
    <%= f.file_field :boilerplate_documents,
      multiple: true,
      name: "handover[boilerplate_documents_attributes][][file_ptr]" %>
  </div>

  <%= f.submit 'Create Handover', class: 'btn btn-success' %>
<% end %>

<%= content_for :scripts do %>
  <script type="text/javascript">
    dragAndDropify('#new_handover');
  </script>
<% end %>

<%= modal(title: "Reference documents?", label: "reference-label", id: "info-reference-documents") do %>
  <p>
    Is there any documents you wish to attach to this handover that will help students? Maybe a template file, an interesting PDF or a picture that's worth a thousand words?
  </p>
  <p>
    Go a ahead and include it!
  </p>
<% end %>

<%= modal(title: "Boilerplate documents?", label: "boilerplate-label", id: "info-boilerplate-documents") do %>
  <p>
    Is there any documents that you wish to give to the students to start their work? Theses documents will be exluded will performing document comparaison.
  </p>
  <p>
    Go a ahead and include it!
  </p>
<% end %>
