<% record_klass = record.class.to_s.underscore %>
<% param_name = "#{record_klass}[#{method}][][file_ptr]" %>
<% dropzone_id = "new#{record_klass.camelize}#{method.to_s.camelize}" %>

<div class="dz-default" id="<%= dropzone_id.underscore.dasherize %>">
  <div class="dz-message">
    Drop files here or <span class='click-me'>click here</span> to upload.
  </div>
  <div class="dz-previews-container"></div>
  <div class="fallback">
    <%= form.label method %>
    <%= form.file_field method, multiple: true, name: param_name %>
  </div>
</div>

<%= render partial: "shared/dropzone_preview" %>

<%= content_for :scripts do %>
  <%= javascript_tag do %>
    Dropzone.options.<%= dropzone_id %> = newDropzone({
      paramName: "<%= param_name %>",
      previewTemplate: document.querySelector("#preview-template").innerHTML,
      previewsContainer: ".dz-previews-container",
    });
  <% end %>
<% end %>
