<nav class="navbar remets-navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--todo : add logo here -->
      <% if signed_in? %>
        <%= link_to "Remets", account_profile_path, class: "navbar-brand" %>
      <% else %>
        <%= link_to "Remets", root_path, class: "navbar-brand" %>
      <% end %>

    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <% if signed_in? %>
      <ul class="nav navbar-nav navbar-left">
        <li class="<%= active_on_controller("handovers") %>">
          <%= link_to "Handovers", handovers_path %>
        </li>

        <li class="<%= active_on_controller("submissions") %>">
          <%= link_to "Submissions", submissions_path %>
        </li>
      </ul>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li class="dropdown">
            <%= link_to "#", data: { toggle: "dropdown" }, html: { role: "button", aria_haspopup: "true", aria_expanded: "false" } do %>
              <%= current_user.name %><span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "Account", account_profile_path %></li>
              <li><%= link_to "Settings", edit_account_profile_path %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign out", auth_destroy_path %></li>
            </ul>
          </li>
        <% else %>
          <li class="<%= active_on_controller("authentications") %>">
            <%= link_to "Sign in", auth_new_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
