<nav class="navbar navbar-admin navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--todo : add logo here -->
      <%= link_to "Remets", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="<%= active_on_controller("dashboards") %>">
          <%= link_to "Dashboard", dashboards_path %>
        </li>

        <li class="<%= active_on_controller("handovers") %>">
          <%= link_to "Handovers", handovers_path %>
        </li>

        <li class="<%= active_on_controller("submissions") %>">
          <%= link_to "Submissions", submissions_path %>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= active_on_controller("authentications") %>">
          <% if signed_in? %>
            <%= link_to current_user.name, "#" %>
          <% else %>
            <%= link_to "Sign in", auth_new_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
