<div class="rs-panel rs-panel--default">
  <div class="rs-panel-heading">
    <h3><%= title %></h3>
    <div>
      <%= link_to(submission_path(submitted_document.submission),
        class: "btn btn-transparent btn-sm") do %>
        <i class="fa fa-chevron-left"></i> View submission
      <% end %>
      <%= link_to(evaluation_path(uuid: submitted_document.submission.evaluation.uuid),
        class: "btn btn-transparent btn-sm") do %>
        <i class="fa fa-chevron-left"></i> View evaluation
      <% end %>
      <%= link_to("#",
        class: "btn btn-transparent btn-sm") do %>
        <i class="fa fa-download"></i> Download
      <% end %>
    </div>
  </div>

  <%= render partial: "submitted_document_detail", object: submitted_document, as: :document %>
</div>
