<div class="container showcase-image">
  <div class="row">
    <div class="col-lg-12">
      <%= image_tag("remets_large.png", class: "img-responsive img-rounded",
        style: "margin:0 auto; max-width: 500px; padding-top:10px;", alt: "logo-big") %>
    </div>
  </div>
</div>
<div class="container">
  <!-- Blurbl + Login -->
  <section class="row">
    <div class="col-lg-6">
      <h1>Smartastic Document handing!</h1>
      <h3>Easily create assignments, automagically detect plagiarism and much more!</h3>
    </div>
    <div class="col-lg-6">
      <div class="showcase-signup-zone">
        <%= render partial: "form" %>
        <div class="stroked"><span class="stroked__text">or</span></div>
        <%= link_to 'Sign-up with Google!', auth_authorize_path(:google),
          class: "btn btn-large btn-primary form-control" %>
      </div>
    </div>
  </section>
  <!-- Featurettes! -->
  <div class="stroked stroked__section"><span class="stroked__text"><h2>Features</h2></span></div>
  <section class="row flex-horizontal-center">
    <div class="col-lg-6">
      <h1>Document matching and Plagiarism Detection</h1>
        <p>
          Introducing something absolutely awesome! Want to make sure no one is copying of each other? Remets can help you validate whether or not plagiarism has been found within your assignment. Our system is capable of deep analysis of submitted text documents and can properly fingerprint and match them.
        </p>
    </div>
    <div class="col-lg-6">
      <%= image_tag("search-compressor.png", class: "img-responsive img-rectangle showcase-image__small",
        style: "margin:0 auto;", alt: "search glass") %>
    </div>
  </section>
  <section class="row flex-horizontal-center">
    <div class="col-lg-6 col-lg-push-6">
      <h1>Hand-in quickly and directly</h1>
        <p>
          Simple, no nonsense hand-in procedure. Just choose the submission, drag and drop your file and submit!
        </p>
    </div>
    <div class="col-lg-6 col-lg-pull-6">
      <%= image_tag("changing-hands-compressor.png", class: "img-responsive img-rectangle showcase-image__small",
        style: "margin:0 auto;", alt: "two hands") %>
    </div>
  </section>
  <section class="row flex-horizontal-center">
    <div class="col-lg-6">
      <h1>Store your evaluations and assignments</h1>
        <p>
          Keep everything in one tidy spot! Every change you do to your submission will be versionned. Meaning you can always go back and find a previous submitted assignment.
        </p>
    </div>
    <div class="col-lg-6">
      <%= image_tag("storage-compressor.png", class: "img-responsive img-rectangle showcase-image__small",
        style: "margin:0 auto;", alt: "box") %>
    </div>
  </section>
</div>
