<div class="rs-panel__item rs-panel__item--no-border">
  <div class="rs-panel__item__2-col-info">
    <div>
      <h5>Deadline in about:<h5>
      <h1><%=  distance_of_time_in_words(evaluation.due_date, Time.zone.now) %></h1>
    </div>
  </div>
  <div class="rs-panel__item__2-col-info">
    <div>
      <h5>Evaluated by :<h5>
      <h1><%= evaluation.user.name %></h1>
    </div>
    <% if evaluation.organization %>
      <small><%= evaluation.organization.name %></small>
    <% end %>
  </div>
</div>
<div class="rs-panel__item">
  <div class="rs-panel__item__long-description">
    Description : <%= evaluation.description%>
  </div>
  <div class="rs-panel__item__actions">
    <%= link_to(evaluation_path(uuid: evaluation.uuid),
        class: "btn btn-default btn-sm") do %>
        <i class="fa fa-newspaper-o"></i> Details
      <% end %>
    <%= link_to new_evaluation_submission_path(evaluation_uuid: evaluation.uuid),
      class: "btn btn-primary btn-sm" do %>
      <% if evaluation.submissions.size > 0 %>
        <i class="fa fa-paper-plane-o"></i> Submit a new version
      <% else %>
        <i class="fa fa-paper-plane"></i> Submit
      <% end %>
    <% end %>
  </div>
</div>
