<%= form_for(
  @submission,
  url: evaluation_submissions_path(evaluation_uuid: @evaluation.uuid),
  html: { multipart: true, class: "full-width" }
) do |f| %>
  <%= errors_summary(@submission) %>

  <div class="form-group">
    <%= f.label :submitted_documents do %>
      Documents to submit
      <a href="#" data-toggle="modal" data-target="#info-documents">
        <i class="fa fa-info-circle"></i>
      </a>
    <% end %>
    <%= f.file_field :submitted_documents,
      multiple: true,
      data: {
        "direct-upload" => true,
        "fields" => SubmittedDocument.presigned_post.fields,
        "url" => SubmittedDocument.presigned_post.url,
      },
      name: "submission[documents_attributes][][file_ptr]" %>
  </div>

  <%= f.submit class: "btn btn-success" %>
<% end %>

<%= modal(title: "Documents", label: "document-label", id: "info-documents") do %>
  <p>
    Is there any documents that you wish to give to the students to start their work? Theses documents will be exluded will performing document comparaison.
  </p>
  <p>
    Go a ahead and include it!
  </p>
<% end %>
