<div class="col-lg-3">
  <div class="remets-panel remets-panel--orange">
    <div class="remets-panel__heading">
      <h3 class="remets-panel__title">Settings</h3>
    </div>
    <div class="remets-panel__item <%= active_for("accounts") %>">
      <%= link_to "Profile", edit_account_profile_path %>
    </div>
    <div class="remets-panel__item <%= active_for("security") %>">
      <%= link_to "Security", edit_account_security_path %>
    </div>
    <div class="remets-panel__item <%= active_for("security") %>">
      <%= link_to "Integrations", account_integrations_path %>
    </div>
    <div class="remets-panel__item <%= active_for("organizations") %>">
      <%= link_to "Organizations", account_organizations_path %>
    </div>
  </div>
</div>
