<%= form_for [:account, @organization], html: {class: "full-width"} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>

  <div class="form-group">
    <label>Pick some people</label>
    <%= render partial: "shared/user_picker", locals: { name: "members" } %>
  </div>

  <%= f.submit class: 'btn btn-success' %>
<% end %>
