<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="remets-panel remets-panel--default">
        <div class="remets-panel__heading">
          <h3 class="remets-panel__title">Organizations</h3>
          <%= link_to(new_account_organization_path, class: "btn btn-transparent btn-sm") do %>
            <i class="fa fa-plus"></i> New organization
          <% end %>
        </div>
        <% if @organizations.empty? %>
          <div class="remets-panel__item">
            No organizations available! <br> Go ahead, create one!
          </div>
        <% end %>
        <% @organizations.each do |organization| %>
          <div class="remets-panel__item">
            <div>
              <%= organization.name %>
            </div>
            <div class="remets-panel__item__actions">
              <%= link_to edit_account_organization_path(organization), class: "btn btn-default btn-sm" do %>
                <i class="fa fa-pencil"></i> Manage
              <% end %>
              <%= form_for organization, url: leave_account_organization_path(organization), method: :delete do |f| %>
                <%= f.button type: "submit", class: "btn btn-danger btn-sm" do %>
                  <i class="fa fa-eraser"></i> Leave
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render partial: "accounts/navigation" %>
  </div>
</div>
