<!DOCTYPE html>
<html>
<head>
  <title>Remets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Nunito|Open+Sans:400,400italic,600,700'
  rel='stylesheet' type='text/css'>

  <%= yield :head %>
</head>
<body class="<%= white_background %>">
  <%= render partial: "shared/navbar" %>
  <%= render partial: "shared/flash" %>
  <%= yield %>

  <%= yield :scripts %>
  <%= render partial: "shared/footer" %>
</body>
</html>

