<div class="remets-panel__item">
  <div class="remets-panel__item__title">
    <h1><%= handover.title %></h1>
    <% if handover.organization %>
      <h2><%= handover.organization.name %></h2>
    <% end %>
  </div>
  <div class="remets-panel__item__description">
    <p class="light-text">
      Due date : <%= l handover.due_date %>
    </p>
    <p>
      <%= handover.description %>
    </p>
  </div>
  <div class="remets-panel__item__actions">
    <%= link_to new_handover_submission_path(handover_uuid: handover.uuid),
      class: "btn btn-primary btn-sm" do %>
      <% if handover.submissions.size > 0 %>
        <i class="fa fa-paper-plane-o"></i> Submit a new version
      <% else %>
        <i class="fa fa-paper-plane"></i> Submit
      <% end %>
    <% end %>
  </div>
</div>
